<!-- Marvin -->
<% for (let i = 0; i < profiles.length; i++) { %>
<artcile class="profile" role="image">
  <header class="profile--info">
    <h2 class="profile--info__name"><%= profiles[i].profile.name.firstName %></h2>
    <h2 class="profile--info__age"><%= profiles[i].profile.age %></h2>
  </header>
  <form class="profile--matching" action="" method="POST">
    <input name="id" type="text" value="<%= profiles[i].id %>">
    <input class="btn" type="image" src="/images/btn_not.svg" alt="Dislike" data-dislike />
    <input class="btn" type="image" src="/images/btn_hot.svg" alt="Like" data-like />
  </form>
</artcile>
<% } %>