<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body data-page="chats">
  <nav>
    <ul>
      <li><img id="logo" src="images/logo-blush.png" alt="Blush logo"></li>
      <li><a class="profilePage" href="/profile"><img class="uploadedImgHeader" src="<%= user.profile.picture %>" alt="Profile picture"></a></li>
      <li><%= `${user.profile.name.firstName} ${user.profile.name.lastName}` %></li>
      <li><a href="/feed">Back to feed</a></li>
      <li><a class="outline" href="/logout">Log out</a></li>
    </ul>
  </nav>

  <h1>Chats</h1>

  <section class="userContainer">
    <figure>
      <img class="profile--picture" src="/images/Mae.jpg" alt="Profile picture">
    </figure>
    <div>
      <h5>Username</h5>
      <p>This is a summary of the chat that's been going on...</p>
    </div>
  </section>

  <section class="userContainer">
    <figure>
      <img class="profile--picture" src="/images/Mae.jpg" alt="Profile picture">
    </figure>
    <div>
      <h5>Username</h5>
      <p>This is a summary of the chat that's been going on...</p>
    </div>
  </section>

  <section class="chatbox">
    <div id="messages">

    </div>
    <form action="#">
      <input type="text" name="message">
      <button>Send</button>
    </form>
  </section>
</body>

</html>
