<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body data-page='feed'>
  <nav>
    <ul>
      <li><img id="logo" src="images/logo-blush.png" alt="Blush logo"></li>
      <li><a class="profilePage" href="/profile"><img class="uploadedImgHeader" src="<%= user.profile.picture %>" alt="Profile picture"></a></li>
      <li><%= `${user.profile.name.firstName} ${user.profile.name.lastName}` %></li>
      <li><a href="/chats">Chats</a></li>
      <li><a class="outline" href="/logout">Log out</a></li>
    </ul>
  </nav>

  <button type="button" name="button">Filters</button>
  <section data-page="filter">
    <button class="clickaway">X sluiten</button>
    <h1>Filters</h1>
    <div class="basics">
      <form class="filter" action="/feed/filter" method="POST">
        <h2>Basics</h2>
        <label for="gender">I'm looking for</label>
        <div class="options">
          <input type="radio" id="man" name="gender" value="male">
          <label for="man">man</label>
          <input type="radio" id="vrouw" name="gender" value="female">
          <label for="vrouw">woman</label>
          <input type="radio" id="anders" name="gender" value="both">
          <label for="anders">both</label>
        </div>

        <div class="sliders">
          <label for="leeftijd" id="leeftijd">Age</label>
          <input type="range" min=18 max="100" name="age" value="25">
          <div class="aside">
            <span class="range-slider-value">25</span>
            <p>y/o</p>
          </div>
        </div>

        <div class="sliders">
          <label for="maximale afstand">Maximum distance</label>
          <input type="range" min="1" max="80" value="40" name="distance">
          <div class="aside">
            <span class="range-slider-value">40</span>
            <p>km</p>
          </div>
        </div>

    </div>

    <div class="extra">
      <h2>Extra</h2>
      <label for="roken">Smokes</label>
      <div class="options">
        <input type="radio" id="jaroken" name="smoke" value="yes">
        <label for="jaroken">yes</label>
        <input type="radio" id="neeroken" name="smoke" value="no">
        <label for="neeroken">no</label>
        <input type="radio" id="maaktnietuitroken" name="smoke" value="allowed">
        <label for="maaktnietuitroken">allowed</label>
      </div>
      <label for="kinderen">Kids</label>
      <div class="options">
        <input type="radio" id="jakinderen" name="kids" value="yes">
        <label for="jakinderen">yes</label>
        <input type="radio" id="neekinderen" name="kids" value="no">
        <label for="neekinderen">no</label>
        <input type="radio" id="maaktnietuitkinderen" name="kids" value="allowed">
        <label for="maaktnietuitkinderen">welcome</label>
      </div>

      <div class="sliders">
        <label for="lengte" id="lengte">Length</label>
        <input type="range" min="140" max="220" name="length" value="175">
        <div class="aside">
          <span class="range-slider-value">175</span>
          <p>cm</p>
        </div>
      </div>

    </div>
    <button>Find my match</button>
    </form>
  </section>

  <main>
    <%- include('./partials/profile') %>
  </main>

  <script type="text/javascript" src="/scripts/index.js"></script>
</body>

</html>
