<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<!-- Inge -->

<body data-page="banner-home">
  <nav>
    <ul>
      <li><img id="logo" src="images/logo-blush.png" alt=""></li>
      <li>Everyone can sign up for free without obligation! <span>- Michael (Co-founder of Blush)</span></li>
      <li><a href="/login" class="outline" action="" method="post">Log in</a></li>
    </ul>
  </nav>

  <section data-page="intro-text">
    <h1> Date with a blush <br> on your face!</h1>
    <h6>Blush is a new dating app to connect with people who are looking for the same thing as you! Sign up today and
      experience the blush too!</h4>
      <a href="/signup1" action="" method="post">Sign up</a>

  </section>

  <!-- End by Inge -->
</body>

</html>