<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<!-- Inge -->

<body data-page="banner-home">

  <nav>
    <ul>
      <li><img href"/index" id="logo" src="images/logo-blush.png" alt=""></li>
      <li>"The best new datingsite 2020!" <span>- the Website of the Year Award</span></li>
    </ul>
  </nav>

  <form action="" method="post" data-page="form">
    <a href="/"><img class="backicon" src='images/close-darkblue.svg' alt=""></a>
    <legend>Log in</legend>
    <fieldset>
      <label from='email'>E-mail</label>
      <input type="email" name="email" required> <br>
      <label from='password'>Password</label>
      <input type="password" pattern=".{8,}" name="password" required title='8 characters minimum' required><br>
    </fieldset>

    <p id='login'>You don't have an account yet? <a href="/signup1">Sign up</a></p>
    <input type='submit' value='Login'>
  </form>
  <!-- End Inge -->

  <script src="/scripts/index.js"></script>
</body>

</html>
