<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<!-- Inge -->
<body data-page="banner-home">

  <form action="/log-in-feed" method="post" data-page="form">
    <legend>Log in</legend>
    <fieldset>
      <label from='email'>E-mail</label>
      <input type="email" required> <br>
      <label from='password'>Password</label>
      <input type="password" pattern=".{8,}" required title='8 characters minimum' required><br>
    </fieldset>

    <p id='login'>You don't have an account yet? <a href="/">Sign up</a></p>
    <input type='submit' value='Login'>
  </form>
<!-- End Inge -->

  <script src="/scripts/index.js"></script>
</body>

</html>
