<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<!-- Inge -->

<body data-page="banner-home">
  <nav>
    <ul>
      <li><img id="logo" src="images/logo-blush.png" alt=""></li>
      <li>"De beste nieuwe datingsite van 2020!" <span>- de Website van het Jaar Award</span></li>
<!-- <li><a href="" action="" method="post">Log in</a></li>
      <li><a class="outline" href="" action="" method="post">Sign up</a></li> -->
    </ul>
  </nav>

  <form action="" method="post" data-page="form">
    <legend>Log in</legend>
    <fieldset>
      <label from='email'>E-mail</label>
      <input type="email" required> <br>
      <label from='password'>Password</label>
      <input type="password" pattern=".{8,}" required title='8 characters minimum' required><br>
    </fieldset>

    <p id='login'>You don't have an account yet? <a href="/">Sign up</a></p>
    <input type='submit' value='Login'>
  </form>
  <!-- End Inge -->

  <script src="/scripts/index.js"></script>
</body>

</html>
